.about
    
    +e('field')
        margin: 0;
        padding: 0;

        +m('first')
            font-weight: bold;
            margin-top: 25px;				

        +e('info')
            background-color: #F6F7F9;
            display: inline-block;
            padding-left: 10px;

            +e('data')
                color: #717D87;

            +e('edit')
                color: #717D87;
                display: inline-block;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
                cursor: pointer;
                background-color: #EBF0F5;
            

        +e('inputs')
            display: inline-block;
            font-weight: normal;
            margin-left: -30px;
            padding: 20px;
            position: absolute;
            //margin-top: 33px;
            width: 200px;
            height: 100px;
            text-align: left;
            background-color: #FFFFFF;
            +box-shadow(0px 0px 20px 1px rgba(0,0,0,0.2))
            line-height: 1;
            
            // +m('text')
            //     text-align: left;

            //     +e('label')
            //         position: relative;
            //         top: 20px;
            //         font-size: 13px;
            //         //+transition(transform  2s);

            //         +e('label')&:hover 
            //             top: 10px;
                        
                    

                

        +e('inputs')&:after
            content: '';
            position: absolute;
            top: 15%;
            right: 100%;
            margin-top: -8px;
            width: 0; height: 0;
            border-right: 8px solid #ffffff;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            clear: both;
        
.button
    +m('full')
        padding: 5px 15px; 
        background: #007BE8; 
        border: 1px solid #007BE8;
        color:  #FFFFFF;
        font-weight: bold;
        cursor: pointer;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        margin-right: 10px;

    +m('empty')
        padding: 5px 15px; 
        background: #FFFFFF; 
        border: 1px solid #007BE8;
        color: #007BE8;
        font-weight: bold;
        cursor: pointer;
        -webkit-border-radius: 2px;
        border-radius: 2px;