.avatar-img
	
	position: absolute;
	bottom: 0;
	width: 120px;
	height: 120px;
	margin: 15px;
	display: block;
	object-fit: cover;
	z-index: 100;

	+box-shadow(0px 0px 20px 1px rgba(0,0,0,0.1))
	
	+mq('phablet', 'max')
		position: relative;
		margin: auto;

	+mq('tablet-wide', 'max')
		width: 90px;
		height: 90px;