header
    background-color: #FFFFFF;
    height: 200px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 45px;
    position: relative;

.info
    margin-top: 90px; 
    margin-left: 150px;
    float: left;
    line-height: 20px;
    +e('name')
        font-size: 17px;
        font-weight: bold;

.reviews
    color: #717E88;
    position: absolute;
    
    right: 10px;
    top: 90px;
    

.logout-btn
    position: absolute;
    top: 10px;
    right: 10px;

.upload-btn
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 200px;;
    margin: auto;
    margin-top: 10px;
    border: 1px solid;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #717E88;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 2px;