.nav-ul
	
	list-style-type: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow: hidden;

	+box-shadow(0px 0px 5px 1px rgba(0,0,0,0.1))

	+e('li')
		float: left;

		+e('a')	
			text-decoration: none;
			color: #4D5257;
			display: block;
			font-size: 14px;
			text-align: center;
			padding: 16px 12px;

		+m('active')
			+box-shadow(inset 0px -2px 0px 0px #007BE8)

		+m('first')
			width: 150px;
			+mq('tablet-wide', 'max')
				width: 120px;

		+m('last')
			color: #717E88;
			height: 35px;
			text-align: center;
			vertical-align: middle;
			line-height: 35px; 
			float: right;
			margin-right: 10px;
			i
				font-size: 25px;
