#template-content
	background-color: #FFFFFF;
	height: 600px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 25px;
	padding: 30px;
	padding-top: 40px;

	+box-shadow(0px 0px 5px 1px rgba(0,0,0,0.1))