/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 3px;
ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0 

input[type=text]
  border: 0;
  border-bottom: 1px solid #AEB8BD;
  outline: none;
  color: #717D87;
  font-size: 15px;
  height: 20px;
  display: block;

.hide
  display: none !important;














.input-group 
  position: relative;
  margin: 40px 0 20px;


// input 
//   font-size: 18px;
//   padding: 10px 10px 10px 5px;
//   display: block;
//   width: 300px;
//   border: none;
//   border-bottom: 1px solid #757575;


input:focus 
  outline: none;


label 
  //color: #999;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;


input:focus ~ label,
input:valid ~ label 
  top: -20px;
  font-size: 11px;
  //color: #4285f4;
  //font-weight: bold;


.bar 
  position: relative;
  display: block;
  width: 315px;


.bar:before,
.bar:after 
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #4285f4;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;


// .bar:before 
//   left: 50%;


// .bar:after 
//   right: 50%;


// input:focus ~ .bar:before,
// input:focus ~ .bar:after 
//   width: 50%;


.highlight 
  position: absolute;
  height: 60%;
  // /width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;


input:focus ~ .highlight 
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;


/* animations */
@-webkit-keyframes inputHighlighter 
  from  
    background: #4285f4; 
  to
    width: 0; background: transparent; 

// @-moz-keyframes inputHighlighter 
//   from 
//     background: #4285f4; 
//   to
//     width: 0;
//     background: transparent; 
// }
// @keyframes inputHighlighter 
//   from 
//     background: #4285f4;
//   to
//     width: 0; background: transparent;
// }










@import 'ionicons/ionicons';
@import 'mixins';
@import 'modules/body';
@import 'modules/nav-ul';
@import 'modules/avatar';
@import 'modules/header';
@import 'modules/section';
@import 'modules/about';

