=e($element)
    &__#{$element}
        @content;

=m($modifier)
    &--#{$modifier}
        @content;

=box-shadow($shadow)
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;

=transition($trans) 
    -o-transition: $trans;
    -ms-transition: $trans; 
    -moz-transition: $trans;
    -webkit-transition: $trans;
    transition: $trans;

=transform($transform)
    -o-transform: $transform;
    -ms-transform: $transform; 
    -moz-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;

=animation($animation,$start,$finish)
    //+keyframes()

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content



$breakpoints: ("phone": 400px, "phone-wide": 480px, "phablet": 560px, "tablet-small": 640px, "tablet": 768px, "tablet-wide": 1024px, "desktop": 1248px, "desktop-wide": 1440px)

=mq($width, $type: min)
    @if map_has_key($breakpoints, $width)
        $width: map_get($breakpoints, $width)

    @if $type == max
        $width: $width - 1px

    @media only screen and (#{$type}-width: $width)
        @content